.icon {
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 150px;
}

.icon2 {
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 160px;
}

h1.ti {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-left: 70px;
    padding-bottom: 50px;
}

h1.ti1 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-left: 40px;
    padding-bottom: 50px;
}

h1.ti2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-left: 60px;
    padding-bottom: 50px;
}
