a {
    pointer-events: none;
}

h2 {
    font-weight: bold;
}

p {
    font-size: 20px;
}

body {
    font-family: 'Raleway', sans-serif !important;
}

.ticket_limitado {
    width: 800px !important;
    height: 400px !important;
}

.terminos {
    font-size: 20px;
    margin-left: 30px;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #4ca3ff;
}

.wizard li.active span.round-tab i {
    color: #4ca3ff;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #4ca3ff;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #4ca3ff;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width: 585px) {
    .wizard {
        width: 90%;
        height: auto !important;
    }
    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.anterior {
    color: black;
    margin-top: 100px;
    margin-right: 100px;
    width: 200px;
    font-size: 30px;
}

.siguiente {
    color: black;
    margin-top: 100px;
    margin-left: 100px;
    width: 200px;
    font-size: 30px;
}

.siguiente:hover {
    color: #5bc0de;
    border-style: solid;
    border-color: #5bc0de;
}

.siguiente:active {
    color: #5bc0de;
    background-color: white;
}

a {
    color: #5bc0de;
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus {
    color: #5bc0de;
    text-decoration: none;
    background-color: transparent;
}

.datos {
    text-align: left;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 100px;
}

.datos-titulo {
    text-align: left;
    margin-top: 30px;
    font-size: 30px;
    margin-left: -180px;
    margin-top: 80px;
    font-weight: 600;
}

label {
    font-weight: 200;
}

.fill-in {
    height: 30px;
    margin-left: 100px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #e0e0e0;
    border-style: solid;
    width: 400px;
}

#numero-telefono {
    margin-left: 0px;
    width: 255px;
}

.fill-in-short {
    height: 30px;
    margin-left: 0px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #e0e0e0;
    border-style: solid;
    width: 296px;
}

.fill-in-xs {
    height: 30px;
    margin-left: 0px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #e0e0e0;
    border-style: solid;
    width: 100px;
}

.fill-in-xxs {
    height: 30px;
    margin-left: 100px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #e0e0e0;
    border-style: solid;
    width: 70px;
}

#codigo-de-seguridad {
    margin-left: 100px;
}

.fill-in-contacto {
    height: 30px;
    margin-left: 100px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #e0e0e0;
    border-style: solid;
    width: 70px;
}

#fill-in-tarjeta {
    margin-left: 100px;
}

#area {
    margin-left: 0px;
}

.fill-in-s {
    height: 30px;
    margin-left: 100px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #e0e0e0;
    border-style: solid;
    width: 190px;
}

#apellido-p {
    margin-left: 30px
}

#apellido {
    margin-left: 100px;
}

#first-4-numbers {
    margin-left: 100px;
}

#num {
    margin-left: 100px;
}

.seleccion {
    background: transparent;
    width: 100px;
    font-size: 16px;
    border: 2px solid #e0e0e0;
    height: 30px;
    border-radius: 7px;
    margin-left: 98.4px;
    font-weight: 300;
}

#pais {
    width: 400px;
}

#provincia {
    width: 400px;
}

#mes {
    margin-left: 0px;
}

#año {
    margin-left: 0px;
}

#vencimiento-año {
    margin-left: 0px;
}

.numero {
    width: 100px;
    height: 100px;
    margin-left: 0px;
    margin-top: 50px;
    align-items: center;
}

.btn-primary {
    color: white;
    background-color: #4ca3ff;
    background-image: none;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #4ca3ff;
    background-color: transparent;
    background-image: none;
    border-color: #4ca3ff;
}

.btn {
    font-size: 30px;
    border-radius: 7px;
    margin-top: 60px;
    border-color: #4ca3ff;
    font-weight: 200;
    background-image: none;
    text-shadow: none;
}

.add-field-button {
    font-size: 20px;
    background-image: none;
    font-weight: 200;
    border-style: none;
    text-decoration: underline;
    text-decoration-color: #4ca3ff;
    color: #4ca3ff;
    background-color: #ffffff;
}

.glyphicon-remove {
    color: red;
}

.remove-field {
    font-weight: 200;
    color: red;
    margin-left: 2px;
}

.remove-field:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}

.btn-default {
    color: #4ca3ff;
}

.duda {
    font-size: large;
}

.duda-btn {
    background-color: white;
    background-image: none;
    border-style: none;
    border-color: white;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #337ab7;
    color: white;
}

.obligatorio {
    color: red;
    font-weight: 200;
}

.error {
    color: red;
}

.error-gral {
    margin-left: 100px;
}

.error-dia-mes-año {
    margin-left: 117px;
}

#confirmar {
    background-color: #7aca7a;
    color: white;
    border-color: #7aca7a;
}

.phone {
    margin-top: 5px;
}

#fill-in-tarjeta-error {
    margin-left: 100px;
}

#descuentos {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    left: 1010px;
    top: 120px;
}

.titulos-resumen {
    font-weight: 200;
    font-size: 35px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    background-color: #4ca3ff;
    border-color: #ffffff;
    width: 1600px;
    color: #ffffff;
    padding-left: 20px;
    margin-bottom: 20px;
}

.subtitulos-resumen {
    font-weight: bold;
    font-size: 23px;
    border-style: none;
    color: black;
    margin-left: 10px;
}

.datos-resumen {
    font-weight: 200;
    font-size: 20px;
    border-style: none;
    color: black;
    margin-left: 20px;
}

#pasajero-resumen {
    margin-left: 10px;
}

#departamento {
    margin-left: -50px;
}

.no-left-margin {
    margin-left: 0px;
}

.checkbox{
    font-size: large;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

#formulario-contacto{
    display: none;
}

#formulario-completo{
    display: none;
}

#formulario-pago{
    display: none;
}

.titulo-representativo{
    border-style: solid;
    border-color: #4ca3ff;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 7px;
    font-weight: 200;
    font-size: 30px;
    color: #4ca3ff;
    height: 60px;
    padding-top: 7px;
    border-width: 2px;
}

.subtitulo-representacion{
    margin-left: 15px;
}

.confirmacion{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

#confirmacion{
    margin-left: -270px;
    margin-top: 15px;
}
