.navigation-bar {
    height: 120px;
    background-color: white;
}

.nav-t {
    height: 120px;
    text-align: center;
}

.nav-items {
    font-size: 22px;
    font-family: coolvetica;
    src: url(.\fonts) format('truetype');
    color: #3A3A3A;
}

.logo {
    max-height: 120px;
}

.sale {
    height: 600px;
    background-color: #f6f6f6;
}

.title {
    text-align: center;
    font-family: lane;
    src: url(.\fonts) format('truetype');
}

.news-input {
    align-items: center;
}

.main-nav {
    height: 470px;
    background-color: yellow;
}

.newsletter {
    background-color: #9ecdd8;
    height: 140px;
}

.final-logo {
    text-align: center;
    font-size: 50px;
    font-family: coolvetica, arial;
    src: url(.\fonts) format('truetype');
    color: white;
}

.final-titles {
    padding-top: 10px;
    text-align: left;
    font-size: 25px;
    color: white;
    font-family: coolvetica;
    src: url(.\fonts) format('truetype');
}

.final-text {
    list-style-type: none;
    font-size: 20px;
    color: white;
    font-family: lane;
    src: url(.\font) format('truetype');
}

.footer {
    height: 200px;
    background-color: #3A3A3A;
}
