.navigation-bar {
    height: 120px;
    background-color: white;
}

.alignment {
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 158px;
}

.alignment-2 {
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 5px;
}

.alignment-3 {
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 50px;
}

.nav-items {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 25px;
    font-family: coolvetica;
    src: url(./fonts) format('truetype');
    color: #3A3A3A;
}

.nm {
    margin-left: 0px;
    padding-left: 0px;
}

.nm-2 {
    margin-left: 10px;
}

.nav-comp {
    padding-top: 50px;
}

.nav-int {
    padding-top: 30px;
}

.logo {
    max-height: 120px;
}

.counter {
    height: 40px;
    font-size: 35px;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    font-family: lane;
    src: url(./fonts) format('truetype');
}

button.btn-circular {
    color: white;
    font-size: 35px;
    font-family: coolvetica;
    src: url(./fonts) format('truetype');
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    line-height: 40px;
    width: 44px;
    padding: 0px;
}

.sale {
    background-color: #f6f6f6;
}

.title {
    text-align: center;
    font-family: lane;
    src: url(./fonts) format('truetype');
}

.main-nav {
    height: 500px;
    background-image: url(../images/back-img.png);
}

.nav-titles {
    font-size: 30px;
    color: white;
    padding-left: 60px;
}

.nav-titles-2 {
    font-size: 27px;
    color: white;
    padding-left: 60px;
}

.newsletter {
    background-color: #9ecdd8;
    height: 140px;
}

.dest {
    font-family: coolvetica;
    src: url(./fonts) format('truetype');
    align-items: center;
    padding-left: 170px;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

.final-logo {
    text-align: center;
    font-size: 50px;
    font-family: coolvetica;
    src: url(./fonts) format('truetype');
    color: white;
}

.final-titles {
    padding-top: 10px;
    text-align: left;
    font-size: 25px;
    color: white;
    font-family: coolvetica;
    src: url(./fonts) format('truetype');
}

.card {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0px;
    height: 245px;
    width: 270px;
    border: 1px solid grey;
}

ul.tite-price {
    padding: 0px;
    column-count: 2;
    column-gap: 20px;
    text-align: left;
    margin: 0px;
}

.card-img{
    padding: 5px;
    padding-right: 8px;
    height: 180px;
    width: 270px;
}

.card-main-text {
    font-family: coolvetica;
    src: url(./fonts) format('truetype');
    font-size: 27px;
    color: black;
    list-style-type: none;
    margin-left: 6px;
}

.card-main-text.price {
    text-align: right;
    margin-right: 6px;
}

p.card-text {
    font-family: lane;
    src: url(./fonts) format('truetype');
    font-size: 15px;
    color: black;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
}

.final-text {
    list-style-type: none;
    font-size: 20px;
    color: white;
    font-family: lane;
    src: url(.\fonts) format('truetype');
}

.footer {
    height: 200px;
    background-color: #3A3A3A;
}

a.counter:hover {
    text-decoration: none;
    color: white;
}

a.main-t:hover, a.main-t {
    text-decoration: none;
    color:#3A3A3A;
}
