
#barra{
	height: 60px; 
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top:15px;
	margin-bottom:20px;
}

#pasajero{
	height: 40px; 
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 7px;
	width: 1130px; 
	margin-left: 5px; 
}

.titulos{
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	font-weight: bold; 
}

.titulos-no{
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	color: grey; 
}


.resumido{
	text-align: center;
	padding-top: 10px;
}

#box{
	height: 300px;
	border-style: solid;
	border-color:black;
	border-radius: 7px;
	border-width: 1px;
	margin-top:15px; 
}

.datos{
	text-align: left;
	margin-top: 30px; 
	font-size: 20px; 
	margin-left: 30px; 
}

.fill-in{
	height: 30px;
	margin-left: 30px; 
	border-radius: 7px; 
	border-width: 1px; 
	border-color: black;
	border-style: solid; 
	width: 400px;
}

.mes-año{
	margin-left: -10px; 
}

.fill-in-doc{
	height: 35px;
	margin-left: 90px; 
	border-radius: 7px; 
	border-width: 1px; 
	border-color: black;
	border-style: solid; 
	width: 242px;
}

.seleccion-doc{
	background: transparent;
	width: 150px; 
	font-size: 16px; 
	border: 1px solid black;
	height: 34px; 
	border-radius: 7px; 
	margin-left: 30px; 
}

.seleccion-fecha{
	background: transparent;
	width: 90px; 
	height: 34px; 
	font-size: 16px; 
	border:1px solid black;
	border-radius: 7px; 
	margin-left: 30px; 
}

#info{
	border-style: solid;
	border-color: black;
	border-width: 1px; 
	margin-top: 15px; 
	height: 300px; 
	border-radius: 7px; 
	width: 1130px; 
}

.anterior{ 
	color: black;
	margin-top: 100px; 
	margin-right: 100px; 
	width: 200px;
	background-color: grey;
	font-size: 30px; 
	font-weight: bold;  
}

.siguiente{
	color: black;
	margin-top: 100px; 
	margin-left: 100px; 
	width: 200px;
	background-color: grey;
	font-size: 30px; 
	font-weight: bold;   
}