.plane_line {
	/*Props*/
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 100%;
	height: 100%;

	/*Styles*/
	font-size: 0;
}

@keyframes spin_plane_ticket {
    0% { transform: rotate(5deg); }
	50% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}


.plane {
	/*Props*/
	background-image: url("../plane.svg");
	background-repeat: no-repeat;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	width: 8.3%;
	height: inherit;

	animation: spin_plane_ticket 1s linear infinite;
}

.plane .info {

	/*Dims*/
	margin-left: 75%;
	margin-top: -10%;

	/*Style*/
	font-size: 14px;

}

.plane .name {
	/*Props*/
	text-align: center;

	/*Dims*/
	margin-left: 0%;
	margin-top: 50%;

	/*Style*/
	font-size: 14px;
}

.line {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: absolute;

	/*Dims*/
	width: 100%;
	height: 3px;
	margin: auto;

	top: 0; right: 0;
	bottom: 0; left: 0;

	/*Style*/
	background-color: black;
}

.line .duration {
	/*Props*/
	text-align: center;

	/*Dims*/
	margin-left: 0%;
	margin-top: -15px;

	/*Style*/
	font-size: 10px;
}

.line1 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 6.3%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;

}
.line2 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 14.6%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line3 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 23%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line4 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 31.3%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line5 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 39.6%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line6 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 48%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line7 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 56.3%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line8 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 64.6%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line9 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 73%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line10 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 81.3%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line11 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 89.6%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
.line12 {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 98%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
}
