  <title>Comparison Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="ComparisonTable.css">
  <link rel="stylesheet" href="Cards.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <table class="card-2 table table-bordered table-responsive table-striped">
  	<thead>
  		<tr>
  			<th>Properties</th>
  			<th>Ticket 1</th>
  			<th>Ticket 2</th>
  			<th>Ticket 3</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<th scope="row">Total</th>
  			<th>-</th>
  			<th>-</th>
  			<th>-</th>
  		</tr>
  		<tr>
  			<th scope="row">Duración</th>
  			<th>-</th>
  			<th>-</th>
  			<th>-</th>
  		</tr>
  		<tr>
  			<th scope="row">Cant. escalas vuelta</th>
  			<th>-</th>
  			<th>-</th>
  			<th>-</th>
  		</tr>
  		<tr>
  			<th scope="row">Cant. escalas ida</th>
  			<th>-</th>
  			<th>-</th>
  			<th>-</th>
  		</tr>
  		<tr>
  			<th scope="row">Hora de salida</th>
  			<th>-</th>
  			<th>-</th>
  			<th>-</th>
  		</tr>
  		<tr>
  			<th scope="row">Hora de llegada</th>
  			<th>-</th>
  			<th>-</th>
  			<th>-</th>
  		</tr>
  		<tr>
  			<th scope="row">Comprar</th>
  			<th>-</th>
  			<th>-</th>
  			<th>-</th>
  		</tr>
  	</tbody>
  </table>
