.ticket {
	/*Props*/
	vertical-align: top;

	/*Dims*/
	/*width: 800px;*/
	width: 100%;
	min-width: 800px;
	height: 400px;
	padding: 20px;
	margin-bottom: 20px; 
	
	/*Styles*/
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius: 2px;
}
.ticket_info {
	/*Props*/
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	width: 65%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-right: 10px;

	/*Styles*/
	/*background-color: red;*/
}

.ticket_price {
	/*Props*/
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	width: 33.5%;
	height: 100%;
	padding: 0;

	/*Stryles*/
	/*background-color: green;*/
}

.ticket_separator1 {
	/*Props*/
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	width: 1px;
	height: 100%;
	margin: 0;
	padding: 0;

	/*Styles*/
	background-color: gray;
}

.ticket_from {
	/*Props*/
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	width: 100%;
	height: 50%;
	padding: 0;
	margin: 0;

	/*Styles*/
	/*background-color: #ad2018;*/
}

.ticket_separator2 {
	/*Props*/
	vertical-align: top;

	/*Dims*/
	width: 98%;
	height: 1px;
	margin-left: 0%;
	padding: 0;

	/*Styles*/
	background-color: gray;
}

.ticket_to {
	/*Props*/
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	width: 100%;
	height: 49.9%;
	padding: 0;
	margin: 0;
	margin-top: 2%;

	/*Styles*/
	/*background-color: #dd0c30;*/
}
p.ticket_from_title {
	/*Props*/
	display: inline-block;

	/*Dims*/
	margin-right: 10px;

	/*Style*/
	font-size: 20px;
}
.ticket_airline_logo {
	/*Props*/
	display: inline-block;

	/*Dims*/
	width: 130px;
	margin-top: -10px;
}
.ticket_from_details {
	/*Props*/
	display: block;
	vertical-align: top;

	/*Dims*/
	width: 100%;
	height: 80%;

	/*Styles*/
	/*background-color: #ed2c21;*/

}
.flight {
	/*Props*/
	display: inline-block;
	position: relative;

	/*Dims*/
	width: 57%;

	/*Style*/
	/*background-color: blue;*/
}
.from_plane_size {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	position: relative;

	/*Dims*/
	width: 100%;
	height: 35px;
	margin-top: 2.5%;

	/*Style*/
	/*background-color: green;*/
}
.location {
	/*Props*/
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	margin-bottom: 30px;

	/*Style*/
	/*background-color: green;*/
}
.location_airport {
	/*Props*/
	display: inline-block;
	vertical-align: top;

	/*Dims*/
	font-size: 35px;
	margin-bottom: 0;

	/*Style*/
	font-weight: bold;
}
.location_city {
	/*Props*/
	display: block;
	vertical-align: top;
	position: absolute;

	/*Dims*/
	margin-top: -5px;

	/*Style*/
	font-size: 15px;
}

.total_time {
	/*Props*/
	display: inline-block;
	vertical-align: top;
	float: right;

	/*Dims*/
	/*margin-right: 10px;*/
	margin-top: 25px;

	/*Style*/
	font-size: 13px;
}
.ticket_time_details {

	/*Dims*/


	/*Styles*/
	/*background-color: green;*/
}
.departure {
	/*Props*/
	display: inline-block;

	/*Style*/
}
.time_departure {
	/*Dims*/
	margin-bottom: 5px;

	/*Style*/
	font-weight: bold;
	font-size: 20px;
}
.time_arrival {

	/*Dims*/
	margin-bottom: 5px;

	/*Style*/
	font-weight: bold;
	font-size: 20px;
}
.arrival {
	/*Props*/
	display: inline-block;
	float: right;

	/*Dims*/
	/*margin-right: 10px;*/

	/*Style*/

}
.date_departure {
	/*Props*/
	display: inline-block;
}
.flight_number {
	/*Props*/
	display: inline-block;

	/*Dims*/
	margin-left: 20px;

	/*Style*/
}

.favorite {
	/*Props*/
	float: right;
	display: block;

	/*Dims*/
	height: 10%;

	/*Styles*/
	/*background-color: blue;*/
}
.prices_list {
	/*Props*/
	display: inline-block;

	/*Dims*/
	width: 100%;
	height: 58%;
	padding-left: 15px;

	/*Styles*/
	/*background-color: red;*/
}
.total_title {

	/*Styles*/
	/*background-color: brown;*/
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.total_price {
	/*Styles*/
	/*background-color: green;*/
	font-size: 25px;
	text-align: center;
}
.buy {
	/*background-color: red;*/
	font-size: 35px;
	text-align: center;
}
ul.prices {
	/*Style*/
	list-style: none;

	/*Dims*/
	padding: 0;
}
li {
	margin-bottom: 5%;
}
.list_title {
	/*Props*/
	display: inline-block;

	/*Style*/
	font-size: 18px;
}
.list_price {
	/*Props*/
	display: inline-block;
	float: right;

	/*Style*/
	font-size: 18px;
}

.favorite_unselected {
	/*Props*/
	/*display: none !important;*/

	/*Style*/
}
.favorite_selected {
	/*Props*/
	display: none !important;

	/*Style*/	
}

.city_arrival {
	/*Dims*/
	/*max-width: 100%;*/
	/*background-color: red;*/
}

.ticket_test {
	margin: 20px;
}